# === Pastas geradas automaticamente ===
bin/
obj/
build/
__pycache__/
*.egg-info/
.pytest_cache/
.ipynb_checkpoints/

# === Arquivos de compilação (C/C++) ===
*.exe
*.out
*.o
*.a
*.so
*.dll
*.lib
*.dylib

# === C# ===
*.pdb
*.user
*.suo
.vs/
.vscode/

# === Python ===
*.pyc
*.pyo
*.pyd
env/
venv/
*.venv/
dist/

# === Julia ===
*.jl.cov
*.jl.*.cov
*.jl.mem
*.DS_Store

# === Outros arquivos temporários ===
*.log
*.bak
*.swp
*~
.DS_Store
Thumbs.db

# === IDE/Editores ===
.idea/
.vscode/
*.code-workspace

# === Dados grandes ou sensíveis ===
*.csv
*.data
*.feather
*.hdf5
*.mat
*.npy
*.pkl
*.pickle

python/pilhaDinamica.py && python/pilhaEstatica.py && python/pilhaListaEncadeada.py && python/filaDinamica.py && python/filaEstatica.py && python/filaListaEncadeada.py && python/queue.py && python/stack.py && python/linkedList.py && python/linkedList2.py && python/linkedList3.py && python/linkedList4.py && python/linkedList5.py && python/linkedList6.py && python/linkedList7.py && python/linkedList8.py && python/linkedList9.py
